<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1725907721.507391</real>
	<key>UUID</key>
	<string>07AD8B30-EC36-41CE-9E74-E09DDB8165B2</string>
</dict>
</plist>
