<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf A. {\it G. oxydans}}
{\bf Time/pH (Days/pH)}
{\bf Mg^{2+} / Pulp Density (mg/L)}
1%
1%
2%
2%
3%
3%

{\bf B. {\it P. simplicissimum}}
{\bf Time/pH (Days/pH)}
{\bf Mg^{2+} / Pulp Density (mg/L)}
1%
1%
2%
2%
3%
3%

{\bf C. {\it S. desiccabilis}}
{\bf Time/pH (Days/pH)}
{\bf Mg^{2+} / Pulp Density (mg/L)}
1%
1%
2%
2%
3%
3%

{\bf D. Sterile Control}
{\bf Time/pH (Days/pH)}
{\bf Mg^{2+} / Pulp Density (mg/L)}
1%
1%
2%
2%
3%
3%
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
