<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf Leachate Mg^{2+} (Glucose vs Cellulosic Hydrolysate)}
{\bf Leachate Mg^{2+} (mg/L)}
Control (Glucose)
Control (CH)
{\it G. oxydans} (Glucose)
{\it G. oxydans} (CH)
{\it S. desiccabilis} (Glucose)
{\it S. desiccabilis} (CH)
{\it P. simplicissimum} (Glucose)
{\it P. simplicissimum} (CH)
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
